{% load static %}

<!-- Navbar -->
<nav class="navbar sticky-top navbar-expand-md navbar-dark bg-dark">
    <div class="container col-lg-9">
        <a class="navbar-brand" href="{% url 'index' %}">
            <img src="{% static 'img/programmers-social_logo.svg' %}" alt="شبکه‌ی اجتماعی برنامه‌نویسان" width="30" height="30" class="d-inline-block align-top">
            ‍ شبکه‌ی اجتماعی برنامه‌نویسان
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-sm-0">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users' 1 %}">کاربران</a>
                </li>
    
                {% if perms.admin %}
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/">پنل ادمین</a>
                    </li>
                {% endif %}
            </ul>

        </div>
        <div class="d-flex">

            <!-- Search -->
            <!-- <button class="btn btn-dark me-2" type="button" data-bs-toggle="modal" data-bs-target="#searchModal">
                <i class="fas fa-search"></i>
            </button> -->

            {% if user.is_authenticated %}
                <!-- Notifications -->
                <button class="btn btn-dark me-2" type="button" onclick="window.location.href='{% url 'person:notifications' 1 %}';">
                    <span class="position-relative">
                        <i class="fas fa-bell"></i>

                        {% if new_notifications != 0 %}
                            <span class="position-absolute top-100 start-0 translate-middle badge rounded-pill bg-primary"><span class="fa-num">{{ new_notifications }}</span> <span class="visually-hidden">unread messages</span></span>
                        {% endif %}
                    </span>
                </button>

                <!-- Create -->
                <div class="dropdown d-inline-flex">
                    <button class="btn btn-dark dropdown-toggle me-2" type="button" id="create" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-plus"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-start shadow-sm text-center" aria-labelledby="create">
                        <li><a class="dropdown-item" href="{% url 'person:post:create' %}"><i class="fas fa-pen-nib"></i> مطلب جدید</a></li>
                        <!-- <li><a class="dropdown-item" href="#"><i class="fas fa-box-open"></i> پروژه‌ی جدید</a></li> -->
                        <!-- <li><a class="dropdown-item" href="#">مجموعه‌ی جدید</a></li> -->
                    </ul>
                </div>

                <!-- User Menu -->
                <div class="dropdown d-inline-flex">
                    <button class="btn btn-dark dropdown-toggle" type="button" id="menu" data-bs-toggle="dropdown" aria-expanded="false">
                        {% if authenticated_user.avatar.url != None %}
                            <img src="{{ authenticated_user.avatar.url }}" class="img-fluid rounded-circle" width="30px" alt="{{ authenticated_user.name }}">
                        
                        {% else %}
                            <img src="{% static 'img/default_avatar.png' %}" class="img-fluid rounded-circle" width="30px" alt="{{ authenticated_user.name }}">
                        {% endif %}
                    </button>
                    
                    <ul class="dropdown-menu dropdown-menu-start shadow-sm text-center" aria-labelledby="menu">
                        <li><a class="dropdown-item" href="{% url 'person:profile' authenticated_user.username %}">{{ authenticated_user.name }}<br/><small>{{ authenticated_user.username }}@</small></a></li>
                        <li><div class="dropdown-divider"></div></li>
                        <li><a class="dropdown-item" href="{% url 'person:post:create' %}"><i class="fas fa-pen-nib"></i> نوشتن مطلب</a></li>
                        <!-- <li><a class="dropdown-item" href=""><i class="fas fa-cloud"></i> فضای ابری</a></li> -->
                        <li><a class="dropdown-item" href="{% url 'person:friends' 1 %}"><i class="fas fa-user-friends"></i> دوستان شما</a></li>
                        <li><a class="dropdown-item" href="{% url 'support' %}"><i class="fas fa-headset"></i> پشتیبانی</a></li>
                        <li><a class="dropdown-item" href="{% url 'rocket' %}"><i class="fas fa-rocket"></i> افزایش بازدید</a></li>
                        <li><a class="dropdown-item" href="{% url 'person:edit_profile' %}"><i class="fas fa-cog"></i> تنظیمات</a></li>
                        <li><a class="dropdown-item" href="//github.com/mskf1383/Programmers-Social/issues" target="_blank"><i class="fas fa-bug"></i> گزارش باگ</a></li>
                        <li><a class="dropdown-item" href="#"><i class="fas fa-moon"></i> حالت شب</a></li>
                        <li><div class="dropdown-divider"></div></li>
                        <li><a class="dropdown-item" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> خروج</a></li>
                    </ul>
                </div>
            
            {% else %}
                <a href="{% url 'support' %}"><button class="btn btn-dark me-2" type="button"><i class="fas fa-headset"></i></button></a>
                <a href="{% url 'login' %}"><button class="btn btn-light me-2" type="button">ورود</button></a>
                <a href="{% url 'signup' %}"><button class="btn btn-light" type="button">عضویت</button></a>
            {% endif %}
        </div>
    </div>
</nav>

<!-- Search Modal -->
<div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="جستجو" aria-label="Search">
                    <button class="btn btn-primary" type="submit">جستجو</button>
                </form>
            </div>
        </div>
    </div>
</div>
