{% extends 'main.html' %}

{% block title %}
    {{ super }} مارک‌دان
{% endblock %}

{% block body %}
    <div class="card bg-white text-dark mb-3">
        <div class="card-body">
            <h1 class="text-center mb-4"><i class="fab fa-markdown fa-5x"></i></h1>
            <h2 class="text-center mb-3">مارک‌دان</h2>

            <p class="card-text">مارک‌دان یک زبان قالب‌بندی است که شما با استفاده از آن به راحتی می‌توانید متن ساده را به کد HTML تبدیل کنید.</p>

            <br/>
            
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>مارک‌دان</th>
                        <th>نتیجه</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>**متن**</td>
                        <td><strong>متن</strong></td>
                    </tr>
                    <tr>
                        <td>*متن*</td>
                        <td><em>متن</em></td>
                    </tr>
                    <tr>
                        <td>__متن__</td>
                        <td><strong>متن</strong></td>
                    </tr>
                    <tr>
                        <td>_متن_</td>
                        <td><em>متن</em></td>
                    </tr>
                    <tr>
                        <td>`code`</td>
                        <td><code>code</code></td>
                    </tr>
                    <tr>
                        <td>[متن](لینک)</td>
                        <td><a href="/">متن</a></td>
                    </tr>
                    <tr>
                        <td>![متن](لینک تصویر)</td>
                        <td><img src="/static/img/programmers-social_logo.svg" alt="متن"></td>
                    </tr>
                    <tr>
                        <td>```<br/>code<br/>```</td>
                        <td><pre><code>code</code></pre></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
